body {
background-color: rgb(197, 185, 185);
}
 
#header {
  padding: 10px;
background-color: rgb(66, 61, 61);
}

 #main {
  position: absolute;
  top: 15%;
  left: 40%;
  right: 40%;
 }

#tictactoe{
  padding-top: 30px;
  margin: 0px;
  display: grid;
  grid-template: 75px 75px 75px / 75px 75px 75px;
}

.tic {
  height: 75px;
  width: 75px;
  background-color:black;
  border: 10px solid grey;
}
.tic:hover{
  background-color: rgb(100, 98, 100);
}

div h1{
  margin: 10px;
  padding: 0px;
  color:white;
  size: inherit;
  text-align: center;
}


#reset {
    position: absolute;
    bottom: -60px;
    width:245px;
    background-color: rgb(61, 60, 61);
    color: thistle;
    font-weight:bolder ;
}

#win {
  position: absolute;
  top:400px;
  color: green;
  padding-top: 20px;
  padding-left:40px;
}
#los {
  position: absolute;
  top:400px;
  color: red;
  padding-top: 20px;
  padding-left:40px;
}
 